<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="secret.app.config">
    <add key="FailLogFile" value=""/>
    <add key="LogFile" value=""/>
    <add key="MinutesBetweenSuccessfulPings" value="1"/>
    <add key="PingDestination" value="8.8.8.8"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>